{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Bearcat events</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Bearcat events</h1>   
{{ end }}