{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Event and Location</h2>  
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" /><br />
      <label> Location </label><input type="text" name="location" /><br />
      <input type="submit" value="Save user" />
    </form>
  {{ template "Footer" }}
{{ end }}